@media (max-width: 480px) {
  .dataTables_paginate {
    width: 100%;
    }
  }
.last-col {
  overflow: hidden;
  }
.ptn,
.pvn,
.pan {
  padding-top: 0 !important;
  }
.ptx,
.pvx,
.pax {
  padding-top: 3px !important;
  }
.pts,
.pvs,
.pas {
  padding-top: 5px !important;
  }
.ptm,
.pvm,
.pam {
  padding-top: 10px !important;
  }
.ptl,
.pvl,
.pal {
  padding-top: 20px !important;
  }
.pth,
.pvh,
.pah {
  padding-top: 40px !important;
  }
.prn,
.phn,
.pan {
  padding-right: 0 !important;
  }
.prx,
.phx,
.pax {
  padding-right: 3px !important;
  }
.prs,
.phs,
.pas {
  padding-right: 5px !important;
  }
.prm,
.phm,
.pam {
  padding-right: 10px !important;
  }
.prl,
.phl,
.pal {
  padding-right: 20px !important;
  }
.prh,
.phh,
.pah {
  padding-right: 40px !important;
  }
.pbn,
.pvn,
.pan {
  padding-bottom: 0 !important;
  }
.pbx,
.pvx,
.pax {
  padding-bottom: 3px !important;
  }
.pbs,
.pvs,
.pas {
  padding-bottom: 5px !important;
  }
.pbm,
.pvm,
.pam {
  padding-bottom: 10px !important;
  }
.pbl,
.pvl,
.pal {
  padding-bottom: 20px !important;
  }
.pbh,
.pvh,
.pah {
  padding-bottom: 40px !important;
  }
.pln,
.phn,
.pan {
  padding-left: 0 !important;
  }
.plx,
.phx,
.pax {
  padding-left: 3px !important;
  }
.pls,
.phs,
.pas {
  padding-left: 5px !important;
  }
.plm,
.phm,
.pam {
  padding-left: 10px !important;
  }
.pll,
.phl,
.pal {
  padding-left: 20px !important;
  }
.plh,
.phh,
.pah {
  padding-left: 40px !important;
  }
.mtn,
.mvn,
.man {
  margin-top: 0 !important;
  }
.mtx,
.mvx,
.max {
  margin-top: 3px !important;
  }
.mts,
.mvs,
.mas {
  margin-top: 5px !important;
  }
.mtm,
.mvm,
.mam {
  margin-top: 10px !important;
  }
.mtl,
.mvl,
.mal {
  margin-top: 20px !important;
  }
.mth,
.mvh,
.mah {
  margin-top: 40px !important;
  }
.mrn,
.mhn,
.man {
  margin-right: 0 !important;
  }
.mrx,
.mhx,
.max {
  margin-right: 3px !important;
  }
.mrs,
.mhs,
.mas {
  margin-right: 5px !important;
  }
.mrm,
.mhm,
.mam {
  margin-right: 10px !important;
  }
.mrl,
.mhl,
.mal {
  margin-right: 20px !important;
  }
.mrh,
.mhh,
.mah {
  margin-right: 40px !important;
  }
.mbn,
.mvn,
.man {
  margin-bottom: 0 !important;
  }
.mbx,
.mvx,
.max {
  margin-bottom: 3px !important;
  }
.mbs,
.mvs,
.mas {
  margin-bottom: 5px !important;
  }
.mbm,
.mvm,
.mam {
  margin-bottom: 10px !important;
  }
.mbl,
.mvl,
.mal {
  margin-bottom: 20px !important;
  }
.mbh,
.mvh,
.mah {
  margin-bottom: 40px !important;
  }
.mln,
.mhn,
.man {
  margin-left: 0 !important;
  }
.mlx,
.mhx,
.max {
  margin-left: 3px !important;
  }
.mls,
.mhs,
.mas {
  margin-left: 5px !important;
  }
.mlm,
.mhm,
.mam {
  margin-left: 10px !important;
  }
.mll,
.mhl,
.mal {
  margin-left: 20px !important;
  }
.mlh,
.mhh,
.mah {
  margin-left: 40px !important;
  }
.padding-xs {
  padding: 3px;
  }
.padding-s {
  padding: 5px;
  }
.padding-m {
  padding: 10px;
  }
.padding-l {
  padding: 20px;
  }
.padding-0 {
  padding: 0;
  }
.fos-bg {
  background-color: #fdb813;
  }
.fos {
  color: #fdb813;
  }
.fos-bd {
  border-color: #fdb813;
  }
.txt-xs-xxs {
  font-size: 9px;
  }
.txt-xs-xs {
  font-size: 11px;
  }
.txt-xs-sm {
  font-size: 13px;
  }
.txt-xs-rg {
  font-size: 16px;
  }
.txt-xs-md {
  font-size: 18px;
  }
.txt-xs-lg {
  font-size: 20px;
  }
.txt-xs-xl {
  font-size: 27px;
  }
.txt-xs-xxl {
  font-size: 32px;
  }
.txt-xs-huge {
  font-size: 64px;
  }
@media (min-width: 768px) {
  .txt-sm-xxs {
    font-size: 9px;
    }
  .txt-sm-xs {
    font-size: 11px;
    }
  .txt-sm-sm {
    font-size: 13px;
    }
  .txt-sm-rg {
    font-size: 16px;
    }
  .txt-sm-md {
    font-size: 18px;
    }
  .txt-sm-lg {
    font-size: 20px;
    }
  .txt-sm-xl {
    font-size: 27px;
    }
  .txt-sm-xxl {
    font-size: 32px;
    }
  .txt-sm-huge {
    font-size: 64px;
    }
  }
@media (min-width: 992px) {
  .txt-md-xxs {
    font-size: 9px;
    }
  .txt-md-xs {
    font-size: 11px;
    }
  .txt-md-sm {
    font-size: 13px;
    }
  .txt-md-rg {
    font-size: 16px;
    }
  .txt-md-md {
    font-size: 18px;
    }
  .txt-md-lg {
    font-size: 20px;
    }
  .txt-md-xl {
    font-size: 27px;
    }
  .txt-md-xxl {
    font-size: 32px;
    }
  .txt-md-huge {
    font-size: 64px;
    }
  }
@media (min-width: 1200px) {
  .txt-lg-xxs {
    font-size: 9px;
    }
  .txt-lg-xs {
    font-size: 11px;
    }
  .txt-lg-sm {
    font-size: 13px;
    }
  .txt-lg-rg {
    font-size: 16px;
    }
  .txt-lg-md {
    font-size: 18px;
    }
  .txt-lg-lg {
    font-size: 20px;
    }
  .txt-lg-xl {
    font-size: 27px;
    }
  .txt-lg-xxl {
    font-size: 32px;
    }
  .txt-lg-huge {
    font-size: 64px;
    }
  }
.txt-light {
  font-weight: 300;
  }
.txt-roman {
  font-weight: 400;
  }
.txt-bold {
  font-weight: 600;
  }
.txt-black {
  font-weight: 800;
  }
.italic {
  font-style: italic;
  }
.txt-center {
  text-align: center;
  }
.padding-xs-xs {
  padding: 3px;
  }
.padding-left-xs-xs {
  padding-left: 3px;
  }
.padding-top-xs-xs {
  padding-top: 3px;
  }
.padding-right-xs-xs {
  padding-right: 3px;
  }
.padding-bottom-xs-xs {
  padding-bottom: 3px;
  }
.padding-xs-s {
  padding: 5px;
  }
.padding-left-xs-s {
  padding-left: 5px;
  }
.padding-top-xs-s {
  padding-top: 5px;
  }
.padding-right-xs-s {
  padding-right: 5px;
  }
.padding-bottom-xs-s {
  padding-bottom: 5px;
  }
.padding-xs-m {
  padding: 10px;
  }
.padding-left-xs-m {
  padding-left: 10px;
  }
.padding-top-xs-m {
  padding-top: 10px;
  }
.padding-right-xs-m {
  padding-right: 10px;
  }
.padding-bottom-xs-m {
  padding-bottom: 10px;
  }
.padding-xs-l {
  padding: 20px;
  }
.padding-left-xs-l {
  padding-left: 20px;
  }
.padding-top-xs-l {
  padding-top: 20px;
  }
.padding-right-xs-l {
  padding-right: 20px;
  }
.padding-bottom-xs-l {
  padding-bottom: 20px;
  }
.padding-xs-xl {
  padding: 40px;
  }
.padding-left-xs-xl {
  padding-left: 40px;
  }
.padding-top-xs-xl {
  padding-top: 40px;
  }
.padding-right-xs-xl {
  padding-right: 40px;
  }
.padding-bottom-xs-xl {
  padding-bottom: 40px;
  }
.padding-xs-xxl {
  padding: 60px;
  }
.padding-left-xs-xxl {
  padding-left: 60px;
  }
.padding-top-xs-xxl {
  padding-top: 60px;
  }
.padding-right-xs-xxl {
  padding-right: 60px;
  }
.padding-bottom-xs-xxl {
  padding-bottom: 60px;
  }
.padding-xs-0 {
  padding: 0;
  }
.padding-left-xs-0 {
  padding-left: 0;
  }
.padding-top-xs-0 {
  padding-top: 0;
  }
.padding-right-xs-0 {
  padding-right: 0;
  }
.padding-bottom-xs-0 {
  padding-bottom: 0;
  }
@media (min-width: 768px) {
  .padding-sm-xs {
    padding: 3px;
    }
  .padding-left-sm-xs {
    padding-left: 3px;
    }
  .padding-top-sm-xs {
    padding-top: 3px;
    }
  .padding-right-sm-xs {
    padding-right: 3px;
    }
  .padding-bottom-sm-xs {
    padding-bottom: 3px;
    }
  .padding-sm-s {
    padding: 5px;
    }
  .padding-left-sm-s {
    padding-left: 5px;
    }
  .padding-top-sm-s {
    padding-top: 5px;
    }
  .padding-right-sm-s {
    padding-right: 5px;
    }
  .padding-bottom-sm-s {
    padding-bottom: 5px;
    }
  .padding-sm-m {
    padding: 10px;
    }
  .padding-left-sm-m {
    padding-left: 10px;
    }
  .padding-top-sm-m {
    padding-top: 10px;
    }
  .padding-right-sm-m {
    padding-right: 10px;
    }
  .padding-bottom-sm-m {
    padding-bottom: 10px;
    }
  .padding-sm-l {
    padding: 20px;
    }
  .padding-left-sm-l {
    padding-left: 20px;
    }
  .padding-top-sm-l {
    padding-top: 20px;
    }
  .padding-right-sm-l {
    padding-right: 20px;
    }
  .padding-bottom-sm-l {
    padding-bottom: 20px;
    }
  .padding-sm-xl {
    padding: 40px;
    }
  .padding-left-sm-xl {
    padding-left: 40px;
    }
  .padding-top-sm-xl {
    padding-top: 40px;
    }
  .padding-right-sm-xl {
    padding-right: 40px;
    }
  .padding-bottom-sm-xl {
    padding-bottom: 40px;
    }
  .padding-sm-xxl {
    padding: 60px;
    }
  .padding-left-sm-xxl {
    padding-left: 60px;
    }
  .padding-top-sm-xxl {
    padding-top: 60px;
    }
  .padding-right-sm-xxl {
    padding-right: 60px;
    }
  .padding-bottom-sm-xxl {
    padding-bottom: 60px;
    }
  .padding-sm-0 {
    padding: 0;
    }
  .padding-left-sm-0 {
    padding-left: 0;
    }
  .padding-top-sm-0 {
    padding-top: 0;
    }
  .padding-right-sm-0 {
    padding-right: 0;
    }
  .padding-bottom-sm-0 {
    padding-bottom: 0;
    }
  }
@media (min-width: 992px) {
  .padding-md-xs {
    padding: 3px;
    }
  .padding-left-md-xs {
    padding-left: 3px;
    }
  .padding-top-md-xs {
    padding-top: 3px;
    }
  .padding-right-md-xs {
    padding-right: 3px;
    }
  .padding-bottom-md-xs {
    padding-bottom: 3px;
    }
  .padding-md-s {
    padding: 5px;
    }
  .padding-left-md-s {
    padding-left: 5px;
    }
  .padding-top-md-s {
    padding-top: 5px;
    }
  .padding-right-md-s {
    padding-right: 5px;
    }
  .padding-bottom-md-s {
    padding-bottom: 5px;
    }
  .padding-md-m {
    padding: 10px;
    }
  .padding-left-md-m {
    padding-left: 10px;
    }
  .padding-top-md-m {
    padding-top: 10px;
    }
  .padding-right-md-m {
    padding-right: 10px;
    }
  .padding-bottom-md-m {
    padding-bottom: 10px;
    }
  .padding-md-l {
    padding: 20px;
    }
  .padding-left-md-l {
    padding-left: 20px;
    }
  .padding-top-md-l {
    padding-top: 20px;
    }
  .padding-right-md-l {
    padding-right: 20px;
    }
  .padding-bottom-md-l {
    padding-bottom: 20px;
    }
  .padding-md-xl {
    padding: 40px;
    }
  .padding-left-md-xl {
    padding-left: 40px;
    }
  .padding-top-md-xl {
    padding-top: 40px;
    }
  .padding-right-md-xl {
    padding-right: 40px;
    }
  .padding-bottom-md-xl {
    padding-bottom: 40px;
    }
  .padding-md-xxl {
    padding: 60px;
    }
  .padding-left-md-xxl {
    padding-left: 60px;
    }
  .padding-top-md-xxl {
    padding-top: 60px;
    }
  .padding-right-md-xxl {
    padding-right: 60px;
    }
  .padding-bottom-md-xxl {
    padding-bottom: 60px;
    }
  .padding-md-0 {
    padding: 0;
    }
  .padding-left-md-0 {
    padding-left: 0;
    }
  .padding-top-md-0 {
    padding-top: 0;
    }
  .padding-right-md-0 {
    padding-right: 0;
    }
  .padding-bottom-md-0 {
    padding-bottom: 0;
    }
  }
@media (min-width: 1200px) {
  .padding-lg-xs {
    padding: 3px;
    }
  .padding-left-lg-xs {
    padding-left: 3px;
    }
  .padding-top-lg-xs {
    padding-top: 3px;
    }
  .padding-right-lg-xs {
    padding-right: 3px;
    }
  .padding-bottom-lg-xs {
    padding-bottom: 3px;
    }
  .padding-lg-s {
    padding: 5px;
    }
  .padding-left-lg-s {
    padding-left: 5px;
    }
  .padding-top-lg-s {
    padding-top: 5px;
    }
  .padding-right-lg-s {
    padding-right: 5px;
    }
  .padding-bottom-lg-s {
    padding-bottom: 5px;
    }
  .padding-lg-m {
    padding: 10px;
    }
  .padding-left-lg-m {
    padding-left: 10px;
    }
  .padding-top-lg-m {
    padding-top: 10px;
    }
  .padding-right-lg-m {
    padding-right: 10px;
    }
  .padding-bottom-lg-m {
    padding-bottom: 10px;
    }
  .padding-lg-l {
    padding: 20px;
    }
  .padding-left-lg-l {
    padding-left: 20px;
    }
  .padding-top-lg-l {
    padding-top: 20px;
    }
  .padding-right-lg-l {
    padding-right: 20px;
    }
  .padding-bottom-lg-l {
    padding-bottom: 20px;
    }
  .padding-lg-xl {
    padding: 40px;
    }
  .padding-left-lg-xl {
    padding-left: 40px;
    }
  .padding-top-lg-xl {
    padding-top: 40px;
    }
  .padding-right-lg-xl {
    padding-right: 40px;
    }
  .padding-bottom-lg-xl {
    padding-bottom: 40px;
    }
  .padding-lg-xxl {
    padding: 60px;
    }
  .padding-left-lg-xxl {
    padding-left: 60px;
    }
  .padding-top-lg-xxl {
    padding-top: 60px;
    }
  .padding-right-lg-xxl {
    padding-right: 60px;
    }
  .padding-bottom-lg-xxl {
    padding-bottom: 60px;
    }
  .padding-lg-0 {
    padding: 0;
    }
  .padding-left-lg-0 {
    padding-left: 0;
    }
  .padding-top-lg-0 {
    padding-top: 0;
    }
  .padding-right-lg-0 {
    padding-right: 0;
    }
  .padding-bottom-lg-0 {
    padding-bottom: 0;
    }
  }
.margin-xs-xs {
  margin: 3px;
  }
.margin-left-xs-xs {
  margin-left: 3px;
  }
.margin-top-xs-xs {
  margin-top: 3px;
  }
.margin-right-xs-xs {
  margin-right: 3px;
  }
.margin-bottom-xs-xs {
  margin-bottom: 3px;
  }
.margin-xs-s {
  margin: 5px;
  }
.margin-left-xs-s {
  margin-left: 5px;
  }
.margin-top-xs-s {
  margin-top: 5px;
  }
.margin-right-xs-s {
  margin-right: 5px;
  }
.margin-bottom-xs-s {
  margin-bottom: 5px;
  }
.margin-xs-m {
  margin: 10px;
  }
.margin-left-xs-m {
  margin-left: 10px;
  }
.margin-top-xs-m {
  margin-top: 10px;
  }
.margin-right-xs-m {
  margin-right: 10px;
  }
.margin-bottom-xs-m {
  margin-bottom: 10px;
  }
.margin-xs-l {
  margin: 20px;
  }
.margin-left-xs-l {
  margin-left: 20px;
  }
.margin-top-xs-l {
  margin-top: 20px;
  }
.margin-right-xs-l {
  margin-right: 20px;
  }
.margin-bottom-xs-l {
  margin-bottom: 20px;
  }
.margin-xs-xl {
  margin: 40px;
  }
.margin-left-xs-xl {
  margin-left: 40px;
  }
.margin-top-xs-xl {
  margin-top: 40px;
  }
.margin-right-xs-xl {
  margin-right: 40px;
  }
.margin-bottom-xs-xl {
  margin-bottom: 40px;
  }
.margin-xs-xxl {
  margin: 60px;
  }
.margin-left-xs-xxl {
  margin-left: 60px;
  }
.margin-top-xs-xxl {
  margin-top: 60px;
  }
.margin-right-xs-xxl {
  margin-right: 60px;
  }
.margin-bottom-xs-xxl {
  margin-bottom: 60px;
  }
.margin-xs-0 {
  margin: 0;
  }
.margin-left-xs-0 {
  margin-left: 0;
  }
.margin-top-xs-0 {
  margin-top: 0;
  }
.margin-right-xs-0 {
  margin-right: 0;
  }
.margin-bottom-xs-0 {
  margin-bottom: 0;
  }
@media (min-width: 768px) {
  .margin-sm-xs {
    margin: 3px;
    }
  .margin-left-sm-xs {
    margin-left: 3px;
    }
  .margin-top-sm-xs {
    margin-top: 3px;
    }
  .margin-right-sm-xs {
    margin-right: 3px;
    }
  .margin-bottom-sm-xs {
    margin-bottom: 3px;
    }
  .margin-sm-s {
    margin: 5px;
    }
  .margin-left-sm-s {
    margin-left: 5px;
    }
  .margin-top-sm-s {
    margin-top: 5px;
    }
  .margin-right-sm-s {
    margin-right: 5px;
    }
  .margin-bottom-sm-s {
    margin-bottom: 5px;
    }
  .margin-sm-m {
    margin: 10px;
    }
  .margin-left-sm-m {
    margin-left: 10px;
    }
  .margin-top-sm-m {
    margin-top: 10px;
    }
  .margin-right-sm-m {
    margin-right: 10px;
    }
  .margin-bottom-sm-m {
    margin-bottom: 10px;
    }
  .margin-sm-l {
    margin: 20px;
    }
  .margin-left-sm-l {
    margin-left: 20px;
    }
  .margin-top-sm-l {
    margin-top: 20px;
    }
  .margin-right-sm-l {
    margin-right: 20px;
    }
  .margin-bottom-sm-l {
    margin-bottom: 20px;
    }
  .margin-sm-xl {
    margin: 40px;
    }
  .margin-left-sm-xl {
    margin-left: 40px;
    }
  .margin-top-sm-xl {
    margin-top: 40px;
    }
  .margin-right-sm-xl {
    margin-right: 40px;
    }
  .margin-bottom-sm-xl {
    margin-bottom: 40px;
    }
  .margin-sm-xxl {
    margin: 60px;
    }
  .margin-left-sm-xxl {
    margin-left: 60px;
    }
  .margin-top-sm-xxl {
    margin-top: 60px;
    }
  .margin-right-sm-xxl {
    margin-right: 60px;
    }
  .margin-bottom-sm-xxl {
    margin-bottom: 60px;
    }
  .margin-sm-0 {
    margin: 0;
    }
  .margin-left-sm-0 {
    margin-left: 0;
    }
  .margin-top-sm-0 {
    margin-top: 0;
    }
  .margin-right-sm-0 {
    margin-right: 0;
    }
  .margin-bottom-sm-0 {
    margin-bottom: 0;
    }
  }
@media (min-width: 992px) {
  .margin-md-xs {
    margin: 3px;
    }
  .margin-left-md-xs {
    margin-left: 3px;
    }
  .margin-top-md-xs {
    margin-top: 3px;
    }
  .margin-right-md-xs {
    margin-right: 3px;
    }
  .margin-bottom-md-xs {
    margin-bottom: 3px;
    }
  .margin-md-s {
    margin: 5px;
    }
  .margin-left-md-s {
    margin-left: 5px;
    }
  .margin-top-md-s {
    margin-top: 5px;
    }
  .margin-right-md-s {
    margin-right: 5px;
    }
  .margin-bottom-md-s {
    margin-bottom: 5px;
    }
  .margin-md-m {
    margin: 10px;
    }
  .margin-left-md-m {
    margin-left: 10px;
    }
  .margin-top-md-m {
    margin-top: 10px;
    }
  .margin-right-md-m {
    margin-right: 10px;
    }
  .margin-bottom-md-m {
    margin-bottom: 10px;
    }
  .margin-md-l {
    margin: 20px;
    }
  .margin-left-md-l {
    margin-left: 20px;
    }
  .margin-top-md-l {
    margin-top: 20px;
    }
  .margin-right-md-l {
    margin-right: 20px;
    }
  .margin-bottom-md-l {
    margin-bottom: 20px;
    }
  .margin-md-xl {
    margin: 40px;
    }
  .margin-left-md-xl {
    margin-left: 40px;
    }
  .margin-top-md-xl {
    margin-top: 40px;
    }
  .margin-right-md-xl {
    margin-right: 40px;
    }
  .margin-bottom-md-xl {
    margin-bottom: 40px;
    }
  .margin-md-xxl {
    margin: 60px;
    }
  .margin-left-md-xxl {
    margin-left: 60px;
    }
  .margin-top-md-xxl {
    margin-top: 60px;
    }
  .margin-right-md-xxl {
    margin-right: 60px;
    }
  .margin-bottom-md-xxl {
    margin-bottom: 60px;
    }
  .margin-md-0 {
    margin: 0;
    }
  .margin-left-md-0 {
    margin-left: 0;
    }
  .margin-top-md-0 {
    margin-top: 0;
    }
  .margin-right-md-0 {
    margin-right: 0;
    }
  .margin-bottom-md-0 {
    margin-bottom: 0;
    }
  }
@media (min-width: 1200px) {
  .margin-lg-xs {
    margin: 3px;
    }
  .margin-left-lg-xs {
    margin-left: 3px;
    }
  .margin-top-lg-xs {
    margin-top: 3px;
    }
  .margin-right-lg-xs {
    margin-right: 3px;
    }
  .margin-bottom-lg-xs {
    margin-bottom: 3px;
    }
  .margin-lg-s {
    margin: 5px;
    }
  .margin-left-lg-s {
    margin-left: 5px;
    }
  .margin-top-lg-s {
    margin-top: 5px;
    }
  .margin-right-lg-s {
    margin-right: 5px;
    }
  .margin-bottom-lg-s {
    margin-bottom: 5px;
    }
  .margin-lg-m {
    margin: 10px;
    }
  .margin-left-lg-m {
    margin-left: 10px;
    }
  .margin-top-lg-m {
    margin-top: 10px;
    }
  .margin-right-lg-m {
    margin-right: 10px;
    }
  .margin-bottom-lg-m {
    margin-bottom: 10px;
    }
  .margin-lg-l {
    margin: 20px;
    }
  .margin-left-lg-l {
    margin-left: 20px;
    }
  .margin-top-lg-l {
    margin-top: 20px;
    }
  .margin-right-lg-l {
    margin-right: 20px;
    }
  .margin-bottom-lg-l {
    margin-bottom: 20px;
    }
  .margin-lg-xl {
    margin: 40px;
    }
  .margin-left-lg-xl {
    margin-left: 40px;
    }
  .margin-top-lg-xl {
    margin-top: 40px;
    }
  .margin-right-lg-xl {
    margin-right: 40px;
    }
  .margin-bottom-lg-xl {
    margin-bottom: 40px;
    }
  .margin-lg-xxl {
    margin: 60px;
    }
  .margin-left-lg-xxl {
    margin-left: 60px;
    }
  .margin-top-lg-xxl {
    margin-top: 60px;
    }
  .margin-right-lg-xxl {
    margin-right: 60px;
    }
  .margin-bottom-lg-xxl {
    margin-bottom: 60px;
    }
  .margin-lg-0 {
    margin: 0;
    }
  .margin-left-lg-0 {
    margin-left: 0;
    }
  .margin-top-lg-0 {
    margin-top: 0;
    }
  .margin-right-lg-0 {
    margin-right: 0;
    }
  .margin-bottom-lg-0 {
    margin-bottom: 0;
    }
  }
.nopadding {
  padding: 0;
  }
.inline-spacing-xs > * {
  margin-right: 3px;
  }
.inline-spacing-s > * {
  margin-right: 5px;
  }
.inline-spacing-m > * {
  margin-right: 10px;
  }
.inline-spacing-l > * {
  margin-right: 20px;
  }
.inline-spacing-xl > * {
  margin-right: 40px;
  }
.inline-spacing-xxl > * {
  margin-right: 60px;
  }
.inline-spacing-0 > * {
  margin-right: 0;
  }
@media (min-width: 1600px) {
  .container {
    width: 1570px;
    }
  }
.col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  }
.col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
  float: left;
  }
.col-xlg-12 {
  width: 100%;
  }
.col-xlg-11 {
  width: 91.66666667%;
  }
.col-xlg-10 {
  width: 83.33333333%;
  }
.col-xlg-9 {
  width: 75%;
  }
.col-xlg-8 {
  width: 66.66666667%;
  }
.col-xlg-7 {
  width: 58.33333333%;
  }
.col-xlg-6 {
  width: 50%;
  }
.col-xlg-5 {
  width: 41.66666667%;
  }
.col-xlg-4 {
  width: 33.33333333%;
  }
.col-xlg-3 {
  width: 25%;
  }
.col-xlg-2 {
  width: 16.66666667%;
  }
.col-xlg-1 {
  width: 8.33333333%;
  }
.col-xlg-pull-12 {
  right: 100%;
  }
.col-xlg-pull-11 {
  right: 91.66666667%;
  }
.col-xlg-pull-10 {
  right: 83.33333333%;
  }
.col-xlg-pull-9 {
  right: 75%;
  }
.col-xlg-pull-8 {
  right: 66.66666667%;
  }
.col-xlg-pull-7 {
  right: 58.33333333%;
  }
.col-xlg-pull-6 {
  right: 50%;
  }
.col-xlg-pull-5 {
  right: 41.66666667%;
  }
.col-xlg-pull-4 {
  right: 33.33333333%;
  }
.col-xlg-pull-3 {
  right: 25%;
  }
.col-xlg-pull-2 {
  right: 16.66666667%;
  }
.col-xlg-pull-1 {
  right: 8.33333333%;
  }
.col-xlg-pull-0 {
  right: auto;
  }
.col-xlg-push-12 {
  left: 100%;
  }
.col-xlg-push-11 {
  left: 91.66666667%;
  }
.col-xlg-push-10 {
  left: 83.33333333%;
  }
.col-xlg-push-9 {
  left: 75%;
  }
.col-xlg-push-8 {
  left: 66.66666667%;
  }
.col-xlg-push-7 {
  left: 58.33333333%;
  }
.col-xlg-push-6 {
  left: 50%;
  }
.col-xlg-push-5 {
  left: 41.66666667%;
  }
.col-xlg-push-4 {
  left: 33.33333333%;
  }
.col-xlg-push-3 {
  left: 25%;
  }
.col-xlg-push-2 {
  left: 16.66666667%;
  }
.col-xlg-push-1 {
  left: 8.33333333%;
  }
.col-xlg-push-0 {
  left: auto;
  }
.col-xlg-offset-12 {
  margin-left: 100%;
  }
.col-xlg-offset-11 {
  margin-left: 91.66666667%;
  }
.col-xlg-offset-10 {
  margin-left: 83.33333333%;
  }
.col-xlg-offset-9 {
  margin-left: 75%;
  }
.col-xlg-offset-8 {
  margin-left: 66.66666667%;
  }
.col-xlg-offset-7 {
  margin-left: 58.33333333%;
  }
.col-xlg-offset-6 {
  margin-left: 50%;
  }
.col-xlg-offset-5 {
  margin-left: 41.66666667%;
  }
.col-xlg-offset-4 {
  margin-left: 33.33333333%;
  }
.col-xlg-offset-3 {
  margin-left: 25%;
  }
.col-xlg-offset-2 {
  margin-left: 16.66666667%;
  }
.col-xlg-offset-1 {
  margin-left: 8.33333333%;
  }
.col-xlg-offset-0 {
  margin-left: 0;
  }
/*# sourceMappingURL=flat-ui-pro.css.map */
